
.d-flex{
  width: 61%;
}
.img {
  
  display: table-cell;
  vertical-align: middle;
  margin: auto;

}

.img1 {
  border-radius: 20px;
}

.prix {
  margin-bottom: 2px;
  font-size: 18px;
  margin-top: 3px;
}

.titre {
  font-size: 15px;
  line-height: 16px;
}

.butt2 {
  border-radius: 15px;
  background: hsl(220, 100%, 90%);
  width: 99%;
}

.butt2:hover {
  border-radius: 15px;
  background-color: #0479cc;
}

.butt1 {
  border-radius: 15px;
  background: hsl(210, 100%, 90%);
  width: 99%;
}

.butt1:hover {
  border-radius: 15px;
  background-color: #21a0fa;
}

.butt3 {
  border-radius: 15px;
  background-color: hsl(200, 100%, 90%);
  width: 99%;
  height: 95%;
}

.butt3:hover {
  border-radius: 15px;
  background: hsl(205, 96%, 70%);

}

.v {
  border-radius: 20px;
  margin-top: 7px;
  margin-right: 0px;
  margin-bottom: 7px;
  margin-left: 4px;
  display: table;
  overflow: hidden;
  width: 99%;
}